attrs==22.2.0
cachetools==5.3.0
certifi==2022.12.7
chardet==5.1.0
charset-normalizer==3.1.0
colorama==0.4.6
coverage==7.2.2
distlib==0.3.6
exceptiongroup==1.1.1
filelock==3.10.6
flake8==6.0.0
idna==3.4
iniconfig==2.0.0
mccabe==0.7.0
mypy==1.1.1
mypy-extensions==1.0.0
numpy==1.24.2
packaging==23.0
pandas==1.5.3
platformdirs==3.2.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyproject_api==1.5.1
pytest==7.2.2
pytest-cov==4.0.0
python-dateutil==2.8.2
pytz==2023.2
requests==2.28.2
six==1.16.0
toml==0.10.2
tomli==2.0.1
tox==4.4.8
types-requests==2.28.11.16
types-urllib3==1.26.25.9
typing_extensions==4.5.0
urllib3==1.26.15
virtualenv==20.21.0
spotipy~=2.23.0
setuptools~=65.5.1
python-dotenv~=1.0.0